body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
}

header {
    margin-bottom: 80px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

main {
    max-width: 700px;
    margin: auto;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}